<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="dev.shewa.flutter_anti_virtuals">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Screen protection: hide other apps' overlay windows (Android 12+) and detect screen
         recording (Android 15+). Both are normal permissions, granted at install. -->
    <uses-permission android:name="android.permission.HIDE_OVERLAY_WINDOWS" />
    <uses-permission android:name="android.permission.DETECT_SCREEN_RECORDING" />

    <!-- Package visibility (Android 11+) for the installed-app checks. -->
    <queries>
        <package android:name="app.fakegps.joystick" />
        <package android:name="app.virtualcam.fake" />
        <package android:name="com.airdroid.remote" />
        <package android:name="com.alephzain.framaroot" />
        <package android:name="com.ammyy.admin" />
        <package android:name="com.amphoras.hidemyroot" />
        <package android:name="com.amphoras.hidemyrootadfree" />
        <package android:name="com.android.flysilkworm" />
        <package android:name="com.android.virtualcamera" />
        <package android:name="com.anydesk.adcontrol.ad1" />
        <package android:name="com.anydesk.anydeskandroid" />
        <package android:name="com.applisto.appcloner" />
        <package android:name="com.applisto.appcloner.pro" />
        <package android:name="com.aweray.deskdroid" />
        <package android:name="com.bignox.app" />
        <package android:name="com.bignox.launcher" />
        <package android:name="com.blogspot.newapphorizons.fakegps" />
        <package android:name="com.bluestacks.appmart" />
        <package android:name="com.bluestacks.bstfolder" />
        <package android:name="com.bluestacks.home" />
        <package android:name="com.bluestacks.launcher" />
        <package android:name="com.bluestacks.settings" />
        <package android:name="com.camera.fake" />
        <package android:name="com.cloneapp.parallel" />
        <package android:name="com.cloudphone.android" />
        <package android:name="com.dev47apps.droidcam" />
        <package android:name="com.dev47apps.droidcamx" />
        <package android:name="com.devadvance.rootcloak" />
        <package android:name="com.devadvance.rootcloakplus" />
        <package android:name="com.divi.fakegps" />
        <package android:name="com.droidcam.android" />
        <package android:name="com.dualspace.app" />
        <package android:name="com.evezzon.fakegps" />
        <package android:name="com.example.vcam" />
        <package android:name="com.excelliance.dualaid" />
        <package android:name="com.excelliance.multiaccount" />
        <package android:name="com.fakecamera.android" />
        <package android:name="com.fakegps.mock" />
        <package android:name="com.fly.gps" />
        <package android:name="com.formyhm.hideroot" />
        <package android:name="com.formyhm.hiderootPremium" />
        <package android:name="com.gaijin.vnc" />
        <package android:name="com.genymotion.superuser" />
        <package android:name="com.genymotion.systempatcher" />
        <package android:name="com.github.lsposed.vcam" />
        <package android:name="com.google.android.launcher.layouts.genymotion" />
        <package android:name="com.gsmartstudio.fakegps" />
        <package android:name="com.hola.fakegps" />
        <package android:name="com.incorporateapps.fakegps.fre" />
        <package android:name="com.ivcam.android" />
        <package android:name="com.jinyuan.fakegps" />
        <package android:name="com.kingo.root" />
        <package android:name="com.kingroot.kinguser" />
        <package android:name="com.kinoni.iriunwebcam" />
        <package android:name="com.koushikdutta.superuser" />
        <package android:name="com.koushikdutta.vysor" />
        <package android:name="com.lbe.parallel" />
        <package android:name="com.lbe.parallel.intl" />
        <package android:name="com.ldmnq.launcher3" />
        <package android:name="com.lexa.fakegps" />
        <package android:name="com.lkr.fakelocation" />
        <package android:name="com.lody.virtual" />
        <package android:name="com.logmein.rescuemobile" />
        <package android:name="com.ludashi.dualspace" />
        <package android:name="com.microsoft.rdc.androidx" />
        <package android:name="com.microvirt.guide" />
        <package android:name="com.microvirt.launcher" />
        <package android:name="com.microvirt.memuime" />
        <package android:name="com.microvirt.tools" />
        <package android:name="com.mobizen.mirroring" />
        <package android:name="com.mocklocation.gpsjoystick" />
        <package android:name="com.mumu.launcher" />
        <package android:name="com.netease.mumu.cloner" />
        <package android:name="com.nonameapps.virtualcamera" />
        <package android:name="com.noshufou.android.su" />
        <package android:name="com.noshufou.android.su.elite" />
        <package android:name="com.obsproject.virtualcam" />
        <package android:name="com.pe.fakelocation" />
        <package android:name="com.pixel.virtualcamera" />
        <package android:name="com.polestar.super.clone" />
        <package android:name="com.qihoo.magic" />
        <package android:name="com.realvnc.viewer.android" />
        <package android:name="com.rosteam.gpsemulator" />
        <package android:name="com.rustdesk.rustdesk" />
        <package android:name="com.sand.airdroid" />
        <package android:name="com.sand.airsos" />
        <package android:name="com.saurik.substrate" />
        <package android:name="com.smedialink.oneclickroot" />
        <package android:name="com.solohsu.android.edxp.manager" />
        <package android:name="com.splashtop.remote.pad.v2" />
        <package android:name="com.splashtop.sos" />
        <package android:name="com.sqisland.android.mocklocation" />
        <package android:name="com.sys.virtualcamera" />
        <package android:name="com.teamviewer.host.market" />
        <package android:name="com.teamviewer.quicksupport.market" />
        <package android:name="com.teamviewer.teamviewer.market.mobile" />
        <package android:name="com.theappninjas.fakegpsjoystick" />
        <package android:name="com.thirdparty.superuser" />
        <package android:name="com.topjohnwu.magisk" />
        <package android:name="com.usefullapps.fakegpslocationpro" />
        <package android:name="com.vcam.android" />
        <package android:name="com.virtualcam.fakecamera" />
        <package android:name="com.virtualcamera" />
        <package android:name="com.vmos.glb" />
        <package android:name="com.vmos.pro" />
        <package android:name="com.vphone.launcher" />
        <package android:name="com.wangyiheng.vcamsx" />
        <package android:name="com.xiaofeng.virtualcamera" />
        <package android:name="com.yellowes.su" />
        <package android:name="com.zhiqupk.root.global" />
        <package android:name="com.zoho.assist.agent" />
        <package android:name="com.zoho.assist.customer" />
        <package android:name="de.robv.android.xposed.installer" />
        <package android:name="eu.chainfire.supersu" />
        <package android:name="fake.gps.location.spoofer.free" />
        <package android:name="info.red.virtual" />
        <package android:name="io.github.a13e300.vcam" />
        <package android:name="io.github.huskydg.magisk" />
        <package android:name="io.github.lsposed.manager" />
        <package android:name="io.github.vvb2060.magisk" />
        <package android:name="io.va.exposed" />
        <package android:name="me.bmax.apatch" />
        <package android:name="me.weishu.exp" />
        <package android:name="me.weishu.kernelsu" />
        <package android:name="net.sourceforge.vncviewer" />
        <package android:name="org.lsposed.lspatch" />
        <package android:name="org.lsposed.manager" />
        <package android:name="org.meowcat.edxposed.manager" />
        <package android:name="ru.gavrikov.mocklocations" />
    </queries>
</manifest>
